.wy-side-nav-search {
background-color: #CC0000;
}
.wy-nav-top {
background-color: #CC0000;
}
.md-header {
background-color: #CC0000;
}
@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: #CC0000;
  }
}
.md-nav__source {
background-color: #A30000;
}